In [1]:
import numpy as np
import pandas as pd

In [ ]:
# df.dropna(axis=1,how='all')

In [2]:
df=pd.DataFrame({'col1':[1,2,3,None,5,6.],'col2':[11,23,None,None,100,20.]})
df

   col1   col2
0   1.0   11.0
1   2.0   23.0
2   3.0    NaN
3   NaN    NaN
4   5.0  100.0
5   6.0   20.0

In [9]:
df.fillna({'col1':0})
df

  col1  col2
0    1    11
1    2    23
2    3   NaN
3  NaN   NaN
4    5   100
5  6.0  20.0

In [1]:
import pandas as pd
import numpy as np

In [3]:
df

   col1   col2
0   1.0   11.0
1   2.0   23.0
2   3.0    NaN
3   NaN    NaN
4   5.0  100.0
5   6.0   20.0

In [4]:
df.fillna(method='ffill')

C:\Users\suman\AppData\Local\Temp\ipykernel_26832\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

   col1   col2
0   1.0   11.0
1   2.0   23.0
2   3.0   23.0
3   3.0   23.0
4   5.0  100.0
5   6.0   20.0

In [5]:
df=pd.DataFrame({'col1':[None,2,3,None,5,6.],'col2':[11,23,None,None,100,20.]})
df

   col1   col2
0   NaN   11.0
1   2.0   23.0
2   3.0    NaN
3   NaN    NaN
4   5.0  100.0
5   6.0   20.0

In [7]:
df.fillna(method='ffill')

C:\Users\suman\AppData\Local\Temp\ipykernel_26832\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

   col1   col2
0   NaN   11.0
1   2.0   23.0
2   3.0   23.0
3   3.0   23.0
4   5.0  100.0
5   6.0   20.0

In [8]:
df.ffill()

   col1   col2
0   NaN   11.0
1   2.0   23.0
2   3.0   23.0
3   3.0   23.0
4   5.0  100.0
5   6.0   20.0

In [9]:
df.fillna(method='bfill')

C:\Users\suman\AppData\Local\Temp\ipykernel_26832\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

   col1   col2
0   2.0   11.0
1   2.0   23.0
2   3.0  100.0
3   5.0  100.0
4   5.0  100.0
5   6.0   20.0

In [10]:
df=pd.DataFrame({'col1':[None,2,3,None,5,None],'col2':[11,23,None,None,100,20.]})
df

   col1   col2
0   NaN   11.0
1   2.0   23.0
2   3.0    NaN
3   NaN    NaN
4   5.0  100.0
5   NaN   20.0

In [11]:
df.bfill()

   col1   col2
0   2.0   11.0
1   2.0   23.0
2   3.0  100.0
3   5.0  100.0
4   5.0  100.0
5   NaN   20.0