In [1]:
import pandas as pd

## Series creation:
syntax:
    pd.Series([values,.....])

In [10]:
series=pd.Series([1,2,3,4,5.],index=['A','B','C','D','E'])
series

A    1.0
B    2.0
C    3.0
D    4.0
E    5.0
dtype: float64

In [11]:
series=pd.Series((1,2,3,4),index=('A','B','C','D'))
series

A    1
B    2
C    3
D    4
dtype: int64

In [13]:
series=pd.Series({'A':1,'B':2})
series

A    1
B    2
dtype: int64

In [15]:
pd.Series({'name':{'AA','BB'},'name1':['AA']})

name     {BB, AA}
name1        [AA]
dtype: object

In [17]:
pd.Series({"name":['AA','BB'],"name1":['AA']})

name     [AA, BB]
name1        [AA]
dtype: object

## DataFrame creation:
Syntax: pd.DataFrame(dict)

In [18]:
data=pd.DataFrame({'name':['rishi','mohon','suman'],'age':[22,22,22]})
data

    name  age
0  rishi   22
1  mohon   22
2  suman   22

In [5]:
data=pd.DataFrame({'name':['rishi','mohon','suman','sunny','divya','sum','picku','tilak','scott','allen'],'age':[22,22,22,21,23,21,23,22,45,34]})
data

    name  age
0  rishi   22
1  mohon   22
2  suman   22
3  sunny   21
4  divya   23
5    sum   21
6  picku   23
7  tilak   22
8  scott   45
9  allen   34

### second method to create a DataFrame:
    Syntax:
        pd.DataFrame(data,columns=[col_names])

In [6]:
data1=pd.DataFrame([[1,2],[4,5]])
data1

   0  1
0  1  2
1  4  5

In [7]:
data1=pd.DataFrame([[1,2],[4,5]],columns=['col1','col2'])
data1

   col1  col2
0     1     2
1     4     5